.gradient-background{
    -fx-background: #0f2027;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #0f2027, #203a43, #2c5364);
}

.container{
    -fx-background-color: rgba(211, 211, 211, 0.061);
    -fx-background-radius: 10;
}

.line{
    -fx-background-color: rgba(223, 219, 219, 0.383);
}

.text{
    -fx-background-color: red;
}

.textfield{
    -fx-background-color: none;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgba(223, 219, 219, 0.383);
    -fx-text-fill: rgba(255, 255, 255, 0.575);
}

.login-button{
    -fx-background-color: green;
    -fx-text-fill: rgb(238, 232, 232);
    -fx-background-radius: 0px;
}